body {
  color: #FC85D1;
  font: 16px "Futura", sans-serif;
  font-family: Futura;
  overflow-x: hidden;
  margin: 0;
}

.names, .announce {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.names {
  color: #D90D1A;
  letter-spacing: 3px;
}

.announce {
  color: #FC85D1;
  letter-spacing: 2px;
}

.details > * {
  margin-bottom: 10px;
}

.details > iframe {
  margin-top: 10px;
  margin-bottom: 15px;
}

.date {
  font-weight: bold;
  color: #D90D1A;
}

.locations {
  display: flex;
  justify-content: space-evenly;
  color: #FC85D1;
}

.locations > div {
  flex-basis: 0;
  flex-grow: 1;
}

.event-label {
  font-style: italic;
}

.hotel {
  color: #D90D1A;
}

.hotel a {
  color: #FC85D1;
}

.attire {
  color: #FC85D1;
}

.kids {
  color: #D90D1A;
}

.registry {
  color: #FC85D1;
}

#main {
  max-width: 400px;
  margin: auto;
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
}

#main img {
  width: 400px;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
}

button {
  font: 16px "Futura", sans-serif;
  margin-bottom: 1em;
  color: #D90D1A;
  cursor: pointer;
}

input {
  color: #FC85D1;
  font: 16px "Futura", sans-serif;
  width: 100px;
}

label {
  font: 16px "Futura", sans-serif;
}

button.rsvp-button {
  background-color: #00604d;
  color: #FFFFFF;
  margin-top: 10px;
  border: 3px solid #FC85D1;
  border-radius: 5px;
  padding: 8px 16px;
  box-shadow: none;
}

.error-msg {
  font-size: 0.8em;
  color: #D90D1A;
}

.hide {
  display: none;
}

.invisible {
  opacity: 0;
  z-index: -99;
}

#modal-backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.5;
}

#modal-container {
  position: absolute;
  top: 150px;
}

#rsvp-modal {
  width: 600px;
  position: relative;
  left: -100px;
  min-height: 800px;
}
