/* html {
  background: url(images/mock-orange.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

body {
  color: #FC85D1;
  font: 16px "Futura", sans-serif;
}

.names, .announce {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.names {
  color: #D90D1A;
  letter-spacing: 3px;
}

.announce {
  color: #FC85D1;
  letter-spacing: 2px;
}

.details > * {
  margin-bottom: 20px;
}

.details > iframe {
  margin-top: 10px;
  margin-bottom: 25px;
}

.date {
  font-weight: bold;
  color: #D90D1A;
}

.locations {
  display: flex;
  justify-content: space-evenly;
  color: #FC85D1;
}

.event-label {
  font-style: italic;
}

.hotel {
  color: #D90D1A;
}

.hotel a {
  color: #FC85D1;
}

.attire {
  color: #FC85D1;
}

.kids {
  color: #D90D1A;
}

.registry {
  color: #FC85D1;
}

#main {
  width: 400px;
  margin: auto;
  padding-top: 75px;
  padding-bottom: 75px;

  text-align: center;
}

#main img {
  width: 400px;
  margin-top: 25px;
  margin-bottom: 30px;
}

p {
  font-size: 1.2em;
}

button {
  font: 16px "Futura", sans-serif;
  margin-bottom: 1em;
  color: #D90D1A;
}

input {
  color: #FC85D1;
  font: 16px "Futura", sans-serif;
}

label {
  font: 16px "Futura", sans-serif;
}

.error-msg {
  font-size: 0.8em;
  color: #D90D1A;
}

.hide {
  display: none;
}
